@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
*{
    font-family: "·L³n¥¿¶ÂÅé","Microsoft JhengHei",'Source Sans Pro', sans-serif;
}
body{
    background:no-repeat url('../img/main_bg.Jpg');
    font-size:18px;
    background-size:cover;
}
#top{
    text-align:right;
    color:#669900;
}
img{
    width:60px; 
    height:60px;
    margin:4px;
}
    label > input{
        visibility: hidden;
        position: absolute;
}
    label > input + img{ 
        cursor:pointer;
        border:2px solid transparent;
}
    label > input:checked + img{
        border:2px solid #FFB3FF;
}
h1{
    font-size:50px;
}
#column{
    background-color:#EEEEFF;
    display:block;
    width:250px;
    border:7px solid #336600;
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
    margin-left:10px;
    border-radius: 15px;
    color:#00b300;
}
.a{
    display:none; 
    border:5px solid #336600; 
    background-color:#999911; 
    margin:2px; 
    width:40%; 
    position:fixed;
    top:180px;
    right:410px;
    border-radius: 15px;
}
#main_land{
    background-color:#ffff4d;
    width:350px;
    border:10px solid #336600; 
    border-radius: 15px;
    padding:15px;
}
#upper{
    position:absolute;
    font-size:25px;
    color:#FFB6C1;
}
#bag_style{
    background:no-repeat url('../img/bag.png');
    width:150px;
    height:150px;
    position:absolute;
    bottom:10px;
    left:10px;
}
.bag_content{
    border:2px solid ;
    width:450px;
    position:absolute;
    top:140px;
    left:450px;
}
#KFC_style{
    background:no-repeat url('../img/KFC.png');
    width:150px;
    height:150px;
    position:absolute;
    bottom:10px;
    right:10px;
}
.KFC_content{
    border:2px solid ;
    width:400px;
    position:absolute;
    top:150px;
    left:480px;
}
.modal-content{
    text-align:left;
    background-color:#999911; 
    color:#ffd700;
}
.modal-content > h3{
    text-align:center;
}
.buyfood{
    text-decoration:none;
    color:#ffd700; 
}