@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}
body {
  font-family: "微軟正黑體","Microsoft JhengHei",'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
body ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: "微軟正黑體","Microsoft JhengHei",'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
body :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: "微軟正黑體","Microsoft JhengHei",'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: "微軟正黑體","Microsoft JhengHei",'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
body :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: "微軟正黑體","Microsoft JhengHei",'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
.wrapper {
  background-repeat: no-repeat; 
  background-attachment: scroll;
  background-size: cover;
  position: absolute;
  overflow: hidden;
}
